*{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}


.app{
    height: 100vh;

    
}

/* .tb{

    
} */

.sections{
        width: 100%;
        height: calc(100vh - 70px);
        /* height: 100vh; */
        background-color: salmon;
        position: relative;
        /* top: 70px; */
        
        
}